<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile   ',  user_path(user), class: 'profile-link' %>
  </span>
  <span class="profile-link">
    <%= invite_or_pending_btn(user) %>
  </span>
</li>

<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

